.container {
    background: rgb(15, 20, 37);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {

    background: linear-gradient(90deg, #feac6a 0%, #fd7e14 30%, #67e1f4 30%, #17a2b8 100%);

}

.contactUs {
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contactUs .title {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.contactUs .title h2 {

    color: #fff;
    font-weight: 500;

}


.form {
    border-radius: 1rem;
    grid-area: form;
    
}

.info {
    
    border-radius: 1rem;
    grid-area: info;
    
}

.map {
    
    border-radius: 1rem;
    grid-area: map;

}




.contact {
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgpa(0, 0, 0, 0.15);
}


.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: "form info"
        "form map"
    ;
    grid-gap: 20px;
    margin-top: 20px;
}


.contact h3 {
    color: #0e3959;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;

}


/* form */

.formBox {
    position: 100%;
    width: 100%;

}

.formBox .row50 {

    display: flex;
    gap: 20px;

}

.inputBox {

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;


}

.formBox .row100 .inputBox {

    width: 100%;

}


.inputBox span {

    color: #18b7ff;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;

}

.inputBox input {
    border-radius: 1rem;
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    border: 1px solid #333;

}

.inputBox textarea {
    border-radius: 1rem;
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}


.inputBox input[type="submit"] {

    background: #ff578b;
    color: #fff;
    border: none;
    font-size: 1.1rem;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

/* info */
.info {
    background: #ffc107;
}

.info h3 {
    color: #fff;
}

.info .infobox div {

    display: flex;
    align-items: center;
    margin-bottom: 10px;


}

.info .infobox div span {

    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5 em;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infobox div p {

    color: #fff;
    font-size: 1.1em;

}

.info .infobox div a {

    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

.sci {
    margin-top: 40px;
    display: flex;

}

.sci li {
    list-style: none;
    margin-right: 15px;
}

.sci li a {

    color: #fff;
    font-size: 2em;
    color: #332a2a;
}

.sci li a:hover {
    color: #fff;

}

.map {

    padding: 0px;
    width: 100%;
    height: 100%
}

.map iframe {
    width: 100%;
    height: 100%;
}


/* Media responsive */

@media (max-width:991px) {

    body {
        background: #67e1f4;
    }

    .contactUs {
        padding: 20px;


    }

    .box {

        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "form"
            "info"
            "map"

    }

    .map {

        min-height: 300px;
    }

    .formBox .row50 {
        display: flex;
        gap: 0px;
        flex-direction: column;

    }

    .inputBox {

        width: 100%;
    }

    .contact {
        padding: 30px;
    }

    .map {
        min-width: 300px;
        padding: 0px;
    }
}