* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family:'Times New Roman', Times, serif;
}
.container {
    display: grid;
    /* border: solid red; */
    grid-template-columns: 50% 50%;
    width: 80vmax;
    margin: auto;
    height: 80vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.box1,
.box4 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.box1 img,
.box4 img {
    width: 180px;
}

.box2,
.box3 {
    /* border: solid rgb(25, 0, 255); */
    padding: 1rem;
    margin: auto;

}

.box2 h2, .box3 h2{
    margin-left: 10px;
    margin-bottom: 0.6rem;
    font-weight: 600;
}
#mission{
    padding: 1.7rem;
    background-color: #F16A36;
    border: 5px solid #E19A64;
    border-radius: 1rem;
    color: white;
}
#vision {
    border: 5px solid #05A1C7;
    padding: 1.7rem;
    background-color: #286181;
    border-radius: 1rem;
    color: white;
}

.btn{
    display: flex;
    align-items: end;
    justify-content: end;
    padding-right: 1rem ;
}
#mission button, #vision button{
    border: solid #F9EE34;
    padding: 0.3rem;
    background-color: #F9EE34;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

@media (max-width: 540px) {
    #mission, #vision{
        width: 280px m !important;
    }
    .box2, .box4{
        width: 90%;
    }
}
@media (max-width: 612px) {

    #mission,
    #vision {
        width: 340px !important;
    }
    .container{
        width: 100%;
    }
    .box2,
    .box3 {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 980px) {

    .box1 img,
    .box4 img {
        display: none;
    }

    .container {
        grid-template-columns: 100%;
    }

    #mission,
    #vision {
        width: 450px;
    }
}